.entete {
    position: relative;
    top: -80px;
    padding-bottom: 30px;
}

.centre {
    position: absolute;
    top: -40px;
    font-weight: 800;
    font-size: 48px !important;
    color: rgba(0, 0, 0, .6) !important;
    text-shadow: 1px 3px 2px #fff;
    left: 20% !important;
    transition: .5s;
}

.solde_content {
    align-items: center;
    width: 230px;
    height: 40px;
    background: orange;
    border-radius: 10px;
    /*
    box-shadow: 5px 7px rgba(0, 0, 0, .5);*/
    /* border-radius: 90px / 50px; */
    font-weight: 900 !important;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    padding-top: 5px;
    font-style: italic;
    letter-spacing: 1px;
    position: relative;
    top: 250px;
    color: white;
    left: 84.5% !important;
    transition: .5s;
    /* border-bottom: 90px solid orange;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; */
    /* height: 0;
    width: 100px; */
}

.total_compte {
    font-size: 38px !important;
    position: relative;
    top: -25px;
}

.affichage_depot {
    height: 150px;
    overflow-y: auto;
}

.affichage_depot_t {
    position: absolute;
    top: 150px;
    width: 106% !important;
    font-size: 12px !important;
    left: 12% !important;
    transition: .5s;
    z-index: 1223;
    height: 250px !important;
}

#myInput {
    border-radius: 5px;
    border: 1px black solid !important;
    height: 60px !important;
    position: absolute;
    margin-bottom: 50px;
    height: 35px !important;
    width: 300px !important;
    top: 96px !important;
    left: 13.5% !important;
    transition: .5s;
}

.affichage_depot_compte {
    /* margin-left: 120px;*/
    position: relative;
    top: 120px;
    width: 85% !important;
    left: 7% !important;
    padding-bottom: 250px !important;
}

#contenue {
    position: absolute;
    top: 60px;
    left: 65px;
}

#form_compte {
    height: 300px !important;
    overflow-y: auto;
    width: 89.4%;
}

#form_compte input,
#form_compte select,
#form_compte textarea,
#form_compte a {
    width: 40% !important;
}

.adresse_content {
    position: relative;
    top: 270px;
    left: 19.5% !important;
    width: 64% !important;
}

.search {
    display: inline-block;
    width: 10% !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #bbebf75c!important;
    color: gray;
    overflow-x: hidden;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f89fc;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.side {
    font-size: 1.7em !important;
    color: white;
    padding: 0 7px 2px 20px !important;
    /* padding-top: 0px !important;
    padding-left: 7px !important;
    padding-bottom: 2px !important;*/
    font-style: italic;
    font-weight: 800 !important;
    position: relative;
    /* left: 5% !important;*/
    font-family: 'Times New Roman', Times, serif;
    background: white;
    border: white 1px solid;
    border-radius: 7px;
    text-shadow: /*relief*/
    0 1px 0 rgb(75, 75, 75), 0 2px 0 rgb(52, 50, 50), 0 3px 0 rgb(46, 44, 44), 0 4px 0 rgb(41, 39, 39), 0 5px 0 rgb(41, 40, 40), 0 6px 0 rgb(48, 46, 46), /*ombre*/
    6px 7px 5px rgba(0, 0, 0, .40), 6px 12px 10px rgba(0, 0, 0, .30), 6px 17px 20px rgba(0, 0, 0, .20), 6px 22px 30px rgba(0, 0, 0, .10);
    /* color: white; */
    -webkit-transform: rotateY(-20deg) rotateX(30deg);
    transform: rotateY(-20deg) rotateX(30deg);
}