

.affichage_depot_compte {
   /* margin-left: 120px;*/
    /*position: relative;
    top: 120px;*/
}

#table_etat {
    /*height: 250px;
    overflow-y: auto;*/
}


/* input {
    width: 50% !important;
}

select {
    width: 50% !important;
}

textarea {
    width: 50% !important;
}

.btn-block {
    width: 50% !important;
} */